# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
.pytest_cache/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Environment & IDE
.env
.DS_Store
.idea/
.vscode/

# Build & Logs
*.log
